
.current-test-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 10px;
}

.current-test-header--closed {
  display: none;
}

.current-test-header__out-btn {
  @include font_nunito(12px, 16px, 400, $font-test-header);
}

.current-test-header__test-name {
  max-width: 45%;
  margin: 0;
  margin-left: 45px;

  @include font_nunito(16px, 22px, 700, $font-basic-dark);
}
