
.description-test-header {
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 16px;

  @include font_nunito(15px, 20px, 700, $font-header-title);
}


.description-test-header--closed {
  display: none;
}
