.modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;

  background-color: $modal-overlay-back;
}

.modal--closed {
  display: none;
}

.modal__card {
  position: absolute;
  top: 272px;

  width: 320px;
  height: 144px;
  margin-left: 6px;
  padding: 20px;

  background-color: $modal-back;
  border-radius: $button-border-radius;
  box-shadow: 0 0 14px rgba($basic-dark, 0.14);
}

.modal__prompt {
  margin: 0;
  margin-bottom: 10px;

  text-align: center;

  @include font_nunito(13px, 16px, 400, $font-basic-dark);
}

.modal__warning {
  margin: 0;
  margin-bottom: 30px;

  text-align: center;

  @include font_nunito(10px, 16px, 400, $font-basic-dark);
}

.modal__button-wrapper {
  text-align: center;

  @include font_nunito(13px, 16px, 400, $font-basic-dark);
}

.modal__exit-button {
  padding: 8px 20px;

  border-color: $button-grey-border;
}

.modal__escape-button {
  margin-left: 15px;
  padding: 8px 16px;

  border-color: $button-grey-border;
}
