.navbar-btn {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;

  border: 1px solid transparent;
  border-radius: $button-border-radius;
  outline: none;
  cursor: pointer;
}

.navbar-btn:hover {
  border-color: $button-hover-outline;
}

.navbar-btn:active {
  opacity: $active-state-opacity;
}


.navbar-btn__arrow {
  width: 14px;
  height: 14px;
}

.navbar-btn__arrow--closed {
  display: none;
}

.navbar-btn__burger {
  width: 14px;
  height: 12px;
}

.navbar-btn__burger--closed {
  display: none;
}
