.navbar {
  flex-shrink: 0;
  width: $navbar-opened-width;

  background-color: $navbar-back;
}

.navbar--closed {
  width: $navbar-closed-width;

  & .navbar-header__title {
    display: none;
  }

  & .navbar__list {
    display: none;
  }
}
