
.test-form {
  // display: none;
}

.test-form fieldset {
  border: none;
}


.test-form__button-wrapper {
  //
}


.test-form__submit {
  //
}


.test-form__reset {
  position: absolute;
  top: -35px;
  right: 150px;
}
