// background for retina display
$retina-dppx: 1.5dppx;
// $retina-dppx: 1.1dppx;
$retina-dpi: 144dpi;
// $retina-dpi: 100dpi;

// (min-resolution: $retina-dpi),
// (min-resolution: $retina-dppx)

// -------------------------- blocks dimensions
$mobile-min-width: 320px;
$desktop-max-width: 1200px;
$site-main-min-height: 738px;
$section-header-min-height: 50px;
$navbar-closed-width: 50px;
$navbar-opened-width: 200px;
$button-bullet-diameter: 7px;

// -------------------------- basic colors
$basic-black: #000000;
$basic-white: #ffffff;
$basic-red: #d32f2f;
$basic-dark: #263238;
$basic-dark-gray: #34515e;

// -------------------------- fonts
$font-black: $basic-dark;
$font-white: $basic-white;
$font-basic-dark: $basic-dark;
$font-basic-red: $basic-red;
$font-navbar-title: $basic-dark-gray;
$font-prompt-title: $basic-dark-gray;
$font-test-header: #8d8d8d;
$font-button-grey: #707070;

// -------------------------- background colors
$button-bullet-back: $basic-black;
$body-back: #dfdfdf;
$test-field-back: #fafafa;
$navbar-back: #eceff1;
$test-line-back: #efefef;
$radio-button-red-back: #ff6659;
$radio-button-grey-back: #afafaf;
$modal-overlay-back: rgba(#c4c4c4, 0.7);
$modal-back: $basic-white;

// -------------------------- borders
$section-header-border: #cfd8dc;
$button-grey-border: #707070;
$button-basic-border: $basic-red;
$test-complete-border: #e0e0e0;
// border: 1px dashed #e0e0e0;
$button-border-radius: 3px;

// -------------------------- shadow colors
// $modal-shadow: rgba($basic-dark, 0.25);
$modal-shadow: rgba($basic-dark, 0.14);
// box-shadow: 0 0 14px rgba($basic-dark, 0.14);

// -------------------------- effects
$link-underline-shift: 3px;
$button-focus: $basic-red;
$button-hover-outline: $basic-red;
$active-state-opacity: 0.7;
$button-bullet-back-focus: $basic-white;
// .button:hover,
// .button:focus,
// .button:active
